.accordion.md-accordion.accordion-blocks .card {
    margin-bottom: 0.4rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
/*.md-accordion .card:first-of-type, .md-accordion .card:not(:first-of-type):not(:last-of-type) {*/
/*    border-bottom: 1px solid #e0e0e0;*/
/*}*/
.md-accordion .card .card-header {
    padding: 1rem 1.5rem;
    background: transparent;
    border-bottom: 0;
}
.accordion>.card>.card-header {
    border-radius: 0;
    margin-bottom: -1px;
}
.md-accordion .card .fa-angle-down {
    float: right;
    margin-top: -16px;
}
.md-accordion .card .card-header a:not(.collapsed) .rotate-icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.accordion .card:first-of-type {
    border-bottom: 0;
     border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
}
.accordion .card{
    border-bottom: 0;
    border-top-right-radius: 5px!important;
    border-top-left-radius: 5px!important;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.text-caral{
    color: #413941;
}
.bg-form {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    font-weight: 400;
}
.card-body-admin {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(26,54,126,0.125);
    border-radius: .25rem;
}
.badge-blue{
    border-radius: 5px!important;
    padding: 0.75rem .4rem!important;
    font-size: 80%;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: white;
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
     background-image: none;
}
